

<item>
<title>Amazing Race S29E01 - We're Coming for You Phil!</title>
<meta>
<content>episode</content>
<imdb>tt5582718</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>We're Coming for You Phil!</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>1</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E02 - Scared Spitless</title>
<meta>
<content>episode</content>
<imdb>tt6720434</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>Scared Spitless</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>2</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E03 - Bucket List Type Stuff</title>
<meta>
<content>episode</content>
<imdb>tt5582718</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>Bucket List Type Stuff</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>3</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E04 - Another One Bites the Dust</title>
<meta>
<content>episode</content>
<imdb>tt6782160</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>Another One Bites the Dust</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>4</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E05 - Have Faith in Me, Broski</title>
<meta>
<content>episode</content>
<imdb>tt6782162</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>Have Faith in Me, Broski</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>5</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E06 - Double U-Turn Ahead </title>
<meta>
<content>episode</content>
<imdb>tt6804898</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>Double U-Turn Ahead</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>6</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E07 - Have Fun and Get It Done </title>
<meta>
<content>episode</content>
<imdb>tt6832254</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>Have Fun and Get It Done</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>7</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E08 - Good Job, Donkey </title>
<meta>
<content>episode</content>
<imdb>tt6855368</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>Good Job, Donkey</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>8</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E09 - I Thought We Were Playing It Nice </title>
<meta>
<content>episode</content>
<imdb>tt6880010/imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>I Thought We Were Playing It Nice</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>9</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E10- Riding a Bike Is Like Riding a Bike </title>
<meta>
<content>episode</content>
<imdb>tt5582718</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>Riding a Bike Is Like Riding a Bike </title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>10</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E11 - As Easy as Stacking Cups </title>
<meta>
<content>episode</content>
<imdb>tt6915246</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>As Easy as Stacking Cups</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>11</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>


<item>
<title>Amazing Race S29E12 - We're Going to Victory Lane </title>
<meta>
<content>episode</content>
<imdb>tt6915256</imdb>
<tvdb>690649</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2017</year>
<title>We're Going to Victory Lane</title>
<premiered>2017-03-30</premiered>
<season>29</season>
<episode>12</episode>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/amazing-race-season-29-winner.jpg</thumbnail>
</item>
