<item>
<title>Coming soon</title>
<link>http://bit.ly/</link>
<thumbnail></thumbnail>
<fanart></fanart>
</item>

<item>
<title>Rocket lab - Mahia New Zealand Launch</title>
<link>
<sublink>https://www.youtube.com/watch?v=1K9PVmjjI_c</sublink> 
</link>
<thumbnail>https://yt3.ggpht.com/-24S9gp7avNA/AAAAAAAAAAI/AAAAAAAAAAA/A4f7BNBH0X0/s68-c-k-no-mo-rj-c0xffffff/photo.jpg</thumbnail>
</item>
