<item>
<title>Coming Soon - TV shows</title>
<link>http://manifester.mediafoundry.com.au/stream/c31melbourne/playlist.m3u8</link>
<thumbnail>https://973941bd-a-54932300-s-sites.googlegroups.com/a/cramer.id.au/tvlogo/australia/31.png?attachauth=ANoY7cq-DYnd0llL1TGucpJSm1M8Edd499ZNuAdYEp4FbnEf4jiZuWIaLToH3n-fxBMjkpxt-ugHest9j2VbLFhTBdfrE3ENGCbtHmXy9VfmmRyMPUwChAO6qxJDQVh1ZU-Kmuo1pyzss36uNZ5xWji0Za9DbBOZ4kN3NCF-wG_EUZ0K-yIzsz_H6mxYRCQCe2_aGiMkQdlQ4fA72jhzMxI3z5X7AYVP-Q%3D%3D&attredirects=0</thumbnail>
<fanart></fanart>
</item>
