

<item>










<item>
<title>Hunt for the wilderpeople (2016)</title>
<meta>
<content>movie</content>
<imdb>tt4698684</imdb>
<title>hunt for the wilderpeople</title>
<year>2016</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMjI1MDQ2MDg5Ml5BMl5BanBnXkFtZTgwMjc2NjM5ODE@._V1_SY1000_SX675_AL_.jpg</thumbnail>
<fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMjI1MDQ2MDg5Ml5BMl5BanBnXkFtZTgwMjc2NjM5ODE@._V1_SY1000_SX675_AL_.jpg</fanart>
</item>

<item>
<title>Whale Rider (2002)</title>
<meta>
<content>movie</content>
<imdb>tt0298228</imdb>
<title>Whale Rider</title>
<year>2012</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMjM3MzE2OTEwNF5BMl5BanBnXkFtZTcwNTkyMTg4NA@@._V1_SY1000_CR0,0,674,1000_AL_.jpg</thumbnail>
<fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMjM3MzE2OTEwNF5BMl5BanBnXkFtZTcwNTkyMTg4NA@@._V1_SY1000_CR0,0,674,1000_AL_.jpg</fanart>
</item>

