<dir>
<title>Amazing Race Season 29 (2017)</title>
<meta>
<content>tvshow</content>
<imdb>tt0285335</imdb>
<tvdb>77666</tvdb>
<tvshowtitle>Amazing Race</tvshowtitle>
<year>2001</year>
</meta>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/TV%20Shows/Amazing%20Race/season%2029%20(2017)/menu.xml</link>
<thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMDg3NmNjNTItYWU2MC00OWJhLTlkZjQtMmIyNjlhZTViZDljXkEyXkFqcGdeQXVyNjg4NzAyOTA@._V1_SY1000_CR0,0,666,1000_AL_.jpg</thumbnail>
<fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMDg3NmNjNTItYWU2MC00OWJhLTlkZjQtMmIyNjlhZTViZDljXkEyXkFqcGdeQXVyNjg4NzAyOTA@._V1_SY1000_CR0,0,666,1000_AL_.jpg</fanart>
</dir>
