<dir>
<name>Australian Live TV</name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/Playlisters/matt/australia/menu/menu.xml</link>
<thumbnail>https://imgur.com/B16bkNw.png</thumbnail>
<fanart>http://www.365daysofinspiringmedia.com/wp-content/uploads/2014/09/australian-channels.jpg</fanart>
</dir>


<dir>
<name>Movies</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/Movies.xml</link>
<thumbnail>https://celectcdn.s3.amazonaws.com/images/0030/8127/Film_Night_logo.png</thumbnail>
<fanart>http://www.livemint.com/rf/Image-621x414/LiveMint/Period2/2017/02/04/Photos/Processed/cinema-kZOG--621x414@LiveMint.jpg</fanart>
</dir>

<dir>
<name>TV Shows</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/Tv%20Shows.xml</link>
<thumbnail>https://lh5.googleusercontent.com/-tKl1HL23IxA/U-2J7JfXAPI/AAAAAAAAACc/97nJrQHllLM/w800-h800/tvshow.png</thumbnail>
<fanart>http://vignette4.wikia.nocookie.net/fanon/images/7/7e/Serie-tv.jpeg/revision/latest?cb=20150101064201</fanart>
</dir>

<dir>
<name>World Streams</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/World%20Streams.xml</link>
<thumbnail>https://veripn.com/img/features/worlds-tv.png</thumbnail>
<fanart>http://www.topappreviews101.com/ipappimg/14929/world-tv-hd-lite-screenshot-1.jpg</fanart>
</dir>

<dir>
<name>World Sport Streams</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/World%20Sport%20Streams.xml</link>
<thumbnail>https://lh3.googleusercontent.com/-VQCMRYjVCm8/VFInG1DPDLI/AAAAAAAAAN8/tw2v_GImEOg/w530-h261-n/World%2BSport%2BTV.png</thumbnail>
<fanart>http://apps4android.net/wp-content/uploads/2017/02/510750_0.jpg</fanart>
</dir>

<dir>
<name>World Music Tv</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/World%20Music%20Tv.xml</link>
<thumbnail>https://pbs.twimg.com/profile_images/1363930348/logo_worldmusic_tv_400x400.jpg</thumbnail>
<fanart>https://www.lipstiq.com/wp-content/uploads/2014/01/joe-flizzow.png</fanart>
</dir>

