<item>
<title>Bambi (1942)</title>
<meta>
<content>movie</content>
<imdb>tt0034492</imdb>
<title>Bambi</title>
<year>1942</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://image.tmdb.org/t/p/original/laABfcpEKweQsaZwCWzmGNUpij9.jpg</thumbnail>
<fanart>http://image.tmdb.org/t/p/original/pdeV9HC6ECDvUfICMWeMHvWsCIa.jpg</fanart>
</item>

<item>
<title>Bambi II (2006)</title>
<meta>
<content>movie</content>
<imdb>tt0447854</imdb>
<title>Bambi II</title>
<year>2006</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>http://image.tmdb.org/t/p/original/A8FGnpdrheRDECNJJ6yKcLDMD5G.jpg</thumbnail>
<fanart>http://image.tmdb.org/t/p/original/pdeV9HC6ECDvUfICMWeMHvWsCIa.jpg</fanart>
</item>
