<item>
        <title>Alvin and the Chipmunks (2007)</title>
        <meta>
                <content>movie</content>
                <imdb>tt0952640</imdb>
                <title>Alvin and the Chipmunks</title>
                <year>2007</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMjdmNWY4MjItMjBiMi00MWNiLWI0ZjctYzBjZmEzOGRmNTc5XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_CR0,0,678,1000_AL_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMjdmNWY4MjItMjBiMi00MWNiLWI0ZjctYzBjZmEzOGRmNTc5XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_CR0,0,678,1000_AL_.jpg</fanart>
</item>


<item>
        <title>Alvin and the Chipmunks: The Squeakquel (2009)</title>
        <meta>
                <content>movie</content>
                <imdb>tt1231580</imdb>
                <title>Alvin and the Chipmunks: The Squeakquel</title>
                <year>2009</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMjI0NTc3MjU5M15BMl5BanBnXkFtZTcwODM4Nzg2Mg@@._V1_SY1000_CR0,0,675,1000_AL_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMjI0NTc3MjU5M15BMl5BanBnXkFtZTcwODM4Nzg2Mg@@._V1_SY1000_CR0,0,675,1000_AL_.jpg</fanart>
</item>



<item>
        <title>Alvin and the Chipmunks: Chipwrecked (2011)</title>
        <meta>
                <content>movie</content>
                <imdb>tt1615918</imdb>
                <title>Alvin and the Chipmunks: Chipwrecked</title>
                <year>2011</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTMyMTU3NTg5Nl5BMl5BanBnXkFtZTcwNDMyMjc2NQ@@._V1.._.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMTMyMTU3NTg5Nl5BMl5BanBnXkFtZTcwNDMyMjc2NQ@@._V1.._.jpg</fanart>
</item>


<item>
        <title>Alvin and the Chipmunks: The Road Chip (2015)</title>
        <meta>
                <content>movie</content>
                <imdb>tt2974918</imdb>
                <title>Alvin and the Chipmunks: The Road Chip</title>
                <year>2015</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ1NjQyNTkyOF5BMl5BanBnXkFtZTgwNzA3OTUyNzE@._V1_SY1000_CR0,0,674,1000_AL_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ1NjQyNTkyOF5BMl5BanBnXkFtZTgwNzA3OTUyNzE@._V1_SY1000_CR0,0,674,1000_AL_.jpg</fanart>
</item>
