
<item>
        <title>Harry Potter and the philosopher's stone (2001)</title>
        <meta>
                <content>movie</content>
                <imdb>tt0241527</imdb>
                <title>harry potter and the philosopher's stone</title>
                <year>2001</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://www.justwatch.com/images/poster/104730/s592</thumbnail>
        <fanart>https://www.justwatch.com/images/poster/104730/s592</fanart>
</item>


<item>
        <title>Harry Potter and the Chamber of Secrets (2002)</title>
        <meta>
                <content>movie</content>
                <imdb>tt0241527</imdb>
                <title>Harry Potter and the Chamber of Secrets</title>
                <year>2002</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTcxODgwMDkxNV5BMl5BanBnXkFtZTYwMDk2MDg3._V1_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMTcxODgwMDkxNV5BMl5BanBnXkFtZTYwMDk2MDg3._V1_.jpg</fanart>
</item>

<item>
        <title>Harry Potter and the Prisoner of Azkaban (2004)</title>
        <meta>
                <content>movie</content>
                <imdb>tt0304141</imdb>
                <title>Harry Potter and the Prisoner of Azkaban</title>
                <year>2004</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTY4NTIwODg0N15BMl5BanBnXkFtZTcwOTc0MjEzMw@@._V1_SY1000_CR0,0,676,1000_AL_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMTY4NTIwODg0N15BMl5BanBnXkFtZTcwOTc0MjEzMw@@._V1_SY1000_CR0,0,676,1000_AL_.jpg</fanart>
</item>


<item>
        <title>Harry Potter and the Goblet of Fire (2005)</title>
        <meta>
                <content>movie</content>
                <imdb>tt0330373</imdb>
                <title>Harry Potter and the Goblet of Fire (2005)</title>
                <year>2005</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTI1NDMyMjExOF5BMl5BanBnXkFtZTcwOTc4MjQzMQ@@._V1_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMTI1NDMyMjExOF5BMl5BanBnXkFtZTcwOTc4MjQzMQ@@._V1_.jpg</fanart>
</item>



<item>
        <title>Harry Potter and the Order of the Phoenix (2007)</title>
        <meta>
                <content>movie</content>
                <imdb>tt0373889</imdb>
                <title>Harry Potter and the Order of the Phoenix</title>
                <year>2007</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTM0NTczMTUzOV5BMl5BanBnXkFtZTYwMzIxNTg3._V1_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMTM0NTczMTUzOV5BMl5BanBnXkFtZTYwMzIxNTg3._V1_.jpg</fanart>
</item>



<item>
        <title>Harry Potter and the Half-Blood Prince (2009)</title>
        <meta>
                <content>movie</content>
                <imdb>tt0417741</imdb>
                <title>Harry Potter and the Half-Blood Prince</title>
                <year>2009</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BNzU3NDg4NTAyNV5BMl5BanBnXkFtZTcwOTg2ODg1Mg@@._V1_SY1000_CR0,0,648,1000_AL_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BNzU3NDg4NTAyNV5BMl5BanBnXkFtZTcwOTg2ODg1Mg@@._V1_SY1000_CR0,0,648,1000_AL_.jpg</fanart>
</item>



<item>
        <title>Harry Potter and the Deathly Hallows: Part 1 (2010)</title>
        <meta>
                <content>movie</content>
                <imdb>tt0926084</imdb>
                <title>Harry Potter and the Deathly Hallows: Part 1</title>
                <year>2010</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ2OTE1Mjk0N15BMl5BanBnXkFtZTcwODE3MDAwNA@@._V1_SY1000_CR0,0,675,1000_AL_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ2OTE1Mjk0N15BMl5BanBnXkFtZTcwODE3MDAwNA@@._V1_SY1000_CR0,0,675,1000_AL_.jpg</fanart>
</item>

<item>
        <title>Harry Potter and the Deathly Hallows: Part 2 (2011)</title>
        <meta>
                <content>movie</content>
                <imdb>tt1201607</imdb>
                <title>Harry Potter and the Deathly Hallows: Part 2</title>
                <year>2011</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMjIyZGU4YzUtNDkzYi00ZDRhLTljYzctYTMxMDQ4M2E0Y2YxXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX667_CR0,0,667,999_AL_.jpg</thumbnail>
        <fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMjIyZGU4YzUtNDkzYi00ZDRhLTljYzctYTMxMDQ4M2E0Y2YxXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX667_CR0,0,667,999_AL_.jpg</fanart>
</item>
