
<dir>
<name>Johnny Depp</name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/movies/actors/Johnnydepp.xml</link>
<animated_thumbnail>https://pbs.twimg.com/profile_images/461110955082924033/syKzaNQA.png</animated_thumbnail>
<thumbnail>https://pbs.twimg.com/profile_images/461110955082924033/syKzaNQA.png</thumbnail>
</dir>
