
<plugin>
<title>Live Sports</title>
<link>plugin://plugin.video.youtube/playlist/PL8fVUTBmJhHKq0MhIplzljtGhHN2E_jk0/</link>
<thumbnail>https://lh3.googleusercontent.com/WLb2ryZklcYN9lCWSSyhgIJwkEXTDp-IxD2zRLaR57iOdJZfx-Lsv-P4zsTPwluk9g=w300</thumbnail>
</plugin>



<item>
<title>LIVE: SpaceX to Launch Falcon Heavy Rocket</title>
<link>https://www.youtube.com/watch?v=AI8_bM1VMv4</link>
<thumbnail></thumbnail>
</item>


<dir>
<name>24/7 Streams</name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/Playlisters/kiwifire/247streams.xml</link>
<thumbnail>http://mag-log.com/english/wp-content/uploads/icon-24-7-nagy.png</thumbnail>
</dir>

