<!-- #####################################################

                     Western Movies 

           Team X - Community Playlists Addon

#####################################################
 -->


<item>
<title>In a Valley of Violence (2016)</title>
<meta>
<content>movie</content>
<imdb>tt3608930</imdb>
<title>In a Valley of Violence</title>
<year>2016</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTUxMjExOTA2OF5BMl5BanBnXkFtZTgwMzI3NTgxMDI@._V1_SY1000_SX675_AL_.jpg</thumbnail>
<fanart>https://images-na.ssl-images-amazon.com/images/M/MV5BMTUxMjExOTA2OF5BMl5BanBnXkFtZTgwMzI3NTgxMDI@._V1_SY1000_SX675_AL_.jpg</fanart>
</item>
        
<item>
<title>6 Guns (2010)</title>
<meta>
<content>movie</content>
<imdb>tt1558576</imdb>
<title>6 Guns</title>
<year>2010</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTUzNTk2ODYwMV5BMl5BanBnXkFtZTcwNzg4MzI1Mw@@._V1_.jpg</thumbnail>
<fanart>https://wallpaperscraft.com/image/fallout_new_vegas_wasteland_loner_road_hero_92839_2560x1440.jpg</fanart>
</item>
        
<item>
<title>Six Shooters (2010)</title>
<meta>
<content>movie</content>
<imdb>tt1554426</imdb>
<title>Six Shooters</title>
<year>2010</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BOTc4MTExMTQzNF5BMl5BanBnXkFtZTgwMzMzMjExMDE@._V1_SY1000_CR0,0,708,1000_AL_.jpg</thumbnail>
<fanart>https://wallpaperscraft.com/image/fallout_new_vegas_wasteland_loner_road_hero_92839_2560x1440.jpg</fanart>
</item>


<item>
<title>American Bandits: Frank and Jesse James (2010)</title>
<meta>
<content>movie</content>
<imdb>tt1446675</imdb>
<title>American Bandits: Frank and Jesse James</title>
<year>2010</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTAwMTgwMDE0NTNeQTJeQWpwZ15BbWU3MDg5MTczMjM@._V1_.jpg</thumbnail>
<fanart>https://wallpaperscraft.com/image/fallout_new_vegas_wasteland_loner_road_hero_92839_2560x1440.jpg</fanart>
</item>



<item>
<title>Big Money Rustlas (2010)</title>
<meta>
<content>movie</content>
<imdb>tt1380784</imdb>
<title>Big Money Rustlas</title>
<year>2010</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ0ODA5NjMwM15BMl5BanBnXkFtZTgwMDMzMzA2MDE@._V1_.jpg</thumbnail>
<fanart>https://wallpaperscraft.com/image/fallout_new_vegas_wasteland_loner_road_hero_92839_2560x1440.jpg</fanart>
</item>
                


<item>
<title>Bunraku (2010)</title>
<meta>
<content>movie</content>
<imdb>tt1181795</imdb>
<title>Bunraku</title>
<year>2010</year>
</meta>
<link>
<sublink>search</sublink>
<sublink>searchsd</sublink>
</link>
<thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BNDIwMTA3MDg2OV5BMl5BanBnXkFtZTcwODA1NzM1Ng@@._V1_SY1000_CR0,0,676,1000_AL_.jpg</thumbnail>
<fanart>https://wallpaperscraft.com/image/fallout_new_vegas_wasteland_loner_road_hero_92839_2560x1440.jpg</fanart>
</item>          
