<dir>
<name>Christmas Radio Stations</name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/other/christmas/Radio/christmasradio.xml</link>
<thumbnail>https://pbs.twimg.com/profile_images/533956923020701696/7LF6b5Bt.png</thumbnail>
</dir>

<dir>
<name>Christmas Music</name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/other/christmas/music/christmasmusic.xml</link>
<thumbnail>https://lh3.googleusercontent.com/qOB-L4pOnvbpREVY4X2z9xoFuAx_fqZBiPG3wYdVnSv8BaS-mvOOrReJX8Eyrs-Yvvk=h900</thumbnail>
</dir>



<dir>
<name>Christmas Movies</name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/other/christmas/Movies-shows/Christmasmovies.xml</link>
<thumbnail>http://icons.iconarchive.com/icons/designbolts/vector-christmas/256/Christmas-Lights-icon.png</thumbnail>
</dir>
