
<dir>
<name>National</name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/Playlisters/matt/australia/menu/National.xml</link>
<thumbnail>http://zeoliteaustralia.com/__MASTER/assets/Australia-Icon.png</thumbnail>
</dir>

<dir>
<name>ABC Network</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/australia/menu/new%20section/ABC%20Network.xml</link>
<thumbnail>https://imgur.com/BLYhZcs.png</thumbnail>
</dir>

<dir>
<name>SBS Network</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/australia/menu/new%20section/SBS%20Network.xml</link>
<thumbnail>https://973941bd-a-54932300-s-sites.googlegroups.com/a/cramer.id.au/tvlogo/australia/sbs.png?attachauth=ANoY7crR86pH3M2THeCFGWg4TJ4pmgQ1J5CxdpkIr9GzNGEs59G8rjO1g5kNnhikCB0CPghXcU1HJStzgl5zFaMbkqO7ppR1slKbPhM-kkutmWC4u9inUA903RZzuG-bfVil_xheQ9CIJnPX5M6QptmCfsjeAD-taATtgyw7li8DjTgJVSHZyoHQxFymSKF2ONULC37I3ZBo2jeVelumyFfS5NY4rpO2Xw%3D%3D&attredirects=0</thumbnail>
</dir>


<dir>
<name>Seven Network</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/australia/menu/new%20section/Seven%20Network.xml</link>
<thumbnail>http://tv.cramer.id.au/_/rsrc/1448188893207/australia/Seven.png</thumbnail>
</dir>

<dir>
<name>Ten Network</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/australia/menu/new%20section/Ten%20Network.xml</link>
<thumbnail>http://tv.cramer.id.au/_/rsrc/1473566065916/australia/ten.png</thumbnail>
</dir>

<dir>
<name>9 Network</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/australia/menu/new%20section/9%20Network.xml</link>
<thumbnail>http://tv.cramer.id.au/_/rsrc/1463791178765/australia/9.png</thumbnail>
</dir>


<dir>
<name>Australian Digital Radio</name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/Playlisters/matt/australia/menu/new%20section/Australian%20Digital%20Radio.xml</link>
<thumbnail>http://img.phone.baidu.com/public/uploads/store_10/2/4/f/24faccba79f608eaec5a2a2fe5416951.png</thumbnail>
</dir>


<dir>
<name>Australian Sports </name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/Playlisters/matt/australia/menu/new%20section/Australian%20Sports.xml</link>
<thumbnail>https://upload.wikimedia.org/wikipedia/commons/d/db/Sports_portal_bar_icon.png</thumbnail>
</dir>


<dir>
<name>Australia Info Page</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/australia/menu/new%20section/Australia%20Info%20Page.xml</link>
<thumbnail>https://msc.qld.gov.au/wp-content/uploads/2013/12/Yellow-Ismall.jpg</thumbnail>
</dir>

<dir>
<name>Special Events</name>
<link>https://raw.githubusercontent.com/tdbnz123/Community-Playlist-new/master/Playlisters/matt/australia/menu/Special%20Events.xml</link>
<thumbnail>http://www.specialevents.com/sites/all/themes/penton_subtheme_specialevents/images/logos/header.png</thumbnail>
</dir>


<dir>
<name>Test section</name>
<link>https://github.com/tdbnz123/Community-Playlist-new/raw/master/Playlisters/matt/australia/menu/new%20section/test.xml</link>
<thumbnail>https://matthewturland.com/slides/phpunit-db/img/continue-testing.jpg</thumbnail>
</dir>





