<item>
        <title>Die Hard</title>
        <meta>
                <content>movie</content>
                <imdb>tt0095016</imdb>
                <title>Die Hard</title>
                <year>1988</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>http://www.imdb.com/title/tt0095016/mediaviewer/rm2280788992</thumbnail>
        <fanart>https://upload.wikimedia.org/wikipedia/commons/d/d1/Die_Hard_film_logo.png</fanart>
</item>


<item>
        <title>Die Hard 2</title>
        <meta>
                <content>movie</content>
                <imdb>tt0099423</imdb>
                <title>Die Hard 2</title>
                <year>1990</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMzMzYzk3ZTEtZDg0My00MTY5LWE3ZmQtYzNhYjhjN2RhZGRjL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SY1000_CR0,0,675,1000_AL_.jpg</thumbnail>
        <fanart>https://upload.wikimedia.org/wikipedia/commons/d/d1/Die_Hard_film_logo.png</fanart>
</item>

<item>
        <title>Die Hard with a Vengeance</title>
        <meta>
                <content>movie</content>
                <imdb>tt0112864</imdb>
                <title>Die Hard with a Vengeance</title>
                <year>1995</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BZjI0ZWFiMmQtMjRlZi00ZmFhLWI4NmYtMjQ5YmY0MzIyMzRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SY1000_SX670_AL_.jpg</thumbnail>
        <fanart>https://upload.wikimedia.org/wikipedia/commons/d/d1/Die_Hard_film_logo.png</fanart>
</item>


<item>
        <title>Live Free or Die Hard / Die Hard 4.0</title>
        <meta>
                <content>movie</content>
                <imdb>tt0337978</imdb>
                <title>Live Free or Die Hard(2007)</title>
                <year>2007</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BNDQxMDE1OTg4NV5BMl5BanBnXkFtZTcwMTMzOTQzMw@@._V1_SY1000_CR0,0,679,1000_AL_.jpg</thumbnail>
        <fanart>https://upload.wikimedia.org/wikipedia/commons/d/d1/Die_Hard_film_logo.png</fanart>
</item>



<item>
        <title>A Good Day to Die Hard</title>
        <meta>
                <content>movie</content>
                <imdb>tt1606378</imdb>
                <title>A Good Day to Die Hard</title>
                <year>2013</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTcwNzgyNzUzOV5BMl5BanBnXkFtZTcwMzAwOTA5OA@@._V1_.jpg</thumbnail>
        <fanart>https://upload.wikimedia.org/wikipedia/commons/d/d1/Die_Hard_film_logo.png</fanart>
</item>

