<item>
        <title>Death Race 2000</title>
        <meta>
                <content>movie</content>
                <imdb>tt0072856</imdb>
                <title>Death Race 2000</title>
                <year>1975</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BZjYxYWYwNmQtMTlmMi00Mjg4LTliZGEtODQ3MjkwNjYxM2U4XkEyXkFqcGdeQXVyNzc5MjA3OA@@._V1_SY1000_CR0,0,653,1000_AL_.jpg</thumbnail>
        <fanart>https://vignette1.wikia.nocookie.net/cinemorgue/images/4/44/Dr2000-poster.jpg/revision/latest?cb=20150519173437</fanart>
</item>


<item>
        <title>Death Race</title>
        <meta>
                <content>movie</content>
                <imdb>tt0452608</imdb>
                <title>Death Race</title>
                <year>2008</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTkwMDU1ODg5Ml5BMl5BanBnXkFtZTcwNjMzNjY3MQ@@._V1_.jpg</thumbnail>
        <fanart>https://lh3.googleusercontent.com/_lyUCTU6YgXXJ4DTJBs7mXdFKcEGIOLvaM0MPQ5P97PD4HYyhzCvaAGNkQQPBQJf1yE=h900</fanart>
</item>

<item>
        <title>Death Race 2</title>
        <meta>
                <content>movie</content>
                <imdb>tt1500491</imdb>
                <title>Death Race 2</title>
                <year>2010</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTk0OTUxNTYxNF5BMl5BanBnXkFtZTcwMzA1MDIyNQ@@._V1_SY1000_CR0,0,715,1000_AL_.jpg</thumbnail>
        <fanart>https://i.ytimg.com/vi/loKiNxIN6E4/maxresdefault.jpg</fanart>
</item>


<item>
        <title>Death Race: Inferno</title>
        <meta>
                <content>movie</content>
                <imdb>tt1988591</imdb>
                <title>Death Race: Inferno</title>
                <year>2013</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTk0MTg1NTc3NF5BMl5BanBnXkFtZTcwNzY5OTM5OA@@._V1._CR164,174.1666717529297,1537,2218.999954223633_SY1000_CR0,0,692,1000_AL_.jpg</thumbnail>
        <fanart>http://s2.dmcdn.net/I8Pzs.jpg</fanart>
</item>

<item>
        <title>Death Race 2050</title>
        <meta>
                <content>movie</content>
                <imdb>tt5493706</imdb>
                <title>Death Race 2050</title>
                <year>2017</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://images-na.ssl-images-amazon.com/images/M/MV5BMTkzNjA4MjgyMl5BMl5BanBnXkFtZTgwMTE1ODIyMDI@._V1_.jpg</thumbnail>
        <fanart>http://nerdreactor.com/wp-content/uploads/2017/01/Death-Race-03.jpg</fanart>
</item>


<item>
        <title>Death Race: Anarchy (COMING SOON)</title>
        <meta>
                <content>movie</content>
                <imdb>tt3807900</imdb>
                <title>Death Race: Anarchy</title>
                <year>2018</year>
        </meta>
        <link>
                <sublink>search</sublink>
                <sublink>searchsd</sublink>
        </link>
        <thumbnail>https://lh3.googleusercontent.com/_lyUCTU6YgXXJ4DTJBs7mXdFKcEGIOLvaM0MPQ5P97PD4HYyhzCvaAGNkQQPBQJf1yE=h900</thumbnail>
        <fanart>https://i.ytimg.com/vi/Tzt2CDPUihg/maxresdefault.jpg</fanart>
</item>
